.home-arrow {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 100px;
}

.hm {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding-top: 100px;
}

.heading-text {
  font-family: Arial;
  text-align: center;
}

.GEM {
  font-size: 40px;
  font-weight: bold;
  color: green;
  margin-top: 80px;
}

.GEM-text {
  font-size: 20px;
  padding-top: -300px;
  font-weight: lighter;
}

hr {
  margin-top: -35px;
  width: 520px;
}

.get-in-touch-div {
  font-family: Arial;
  background-color: white;
  width: 500px;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 45px;
  margin-left: 25px;
  border-radius: 10px;
  margin-top: 100px;
}

.get-touch-text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: green;
}

.hr1 {
  margin-top: 10px;
  margin-left: 2px;
  width: 470px;
}

.hr2 {
  margin-top: 10px;
  margin-left: 2px;
  width: 470px;
}

.hr3 {
  margin-top: 10px;
  margin-left: 2px;
  width: 470px;
}

.ngn {
  color: blue;
}

.focus-areas {
  color: blue;
}

.phone-div {
  margin-top: 35px;
}

.loc-div {
  margin-top: 35px;
}

.focus-areas-div {
  margin-top: 35px; 
}

.email-symbol {
  font-size: 25px;
}



.send-message-div {
   font-family: Arial;
  background-color: white;
  width: 500px;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 45px;
  margin-left: 750px;
  margin-top: 30px;
  border-radius: 10px;
  margin-top: -400px;
  vertical-align: top;
}

.send-message-text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: green;
  padding-top: 20px;
}

.name-text {
  padding-top: 20px;
}

.name {
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 280px;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: gray;
}

.email-div {
  padding-top: 10px;
}

.email-text {
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 280px;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: gray;
}

.tel-div {
  padding-top: 10px;
}

.tel-text {
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 280px;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: gray;
}

.subject-div {
  padding-top: 10px;
}

.subject-text {
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 280px;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: gray;
}

.message-div {
  padding-top: 10px;
}

.message-text {
  padding-left: 10px;
  padding-top: 6px;
  padding-right: 280px;
  padding-bottom: 80px;
  border-radius: 4px;
  border-color: gray;
}

.send-btn {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 150px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.send-btn:hover {
  background-color: blue;
  color: orange;
}

.hr4 {
width: 200px;
margin-top: 80px;
}

.right-reserved {
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  padding-bottom: 80px;
}
